<footer class="px-4 pt-12 pb-8 text-white bg-black border-t border-gray-900">
  <div class="container flex flex-col justify-between max-w-6xl px-4 mx-auto overflow-hidden lg:flex-row">
      <div class="w-full pl-12 mr-4 text-left lg:w-1/4 sm:text-center sm:pl-0 lg:text-left">
          <a href="/"
              class="flex justify-start block text-left sm:text-center lg:text-left sm:justify-center lg:justify-start">
              <span class="flex items-start sm:items-center">
                <img src="assets/images/logo.svg">
              </span>
          </a>
      </div>
      <div class="block w-full pl-10 mt-6 text-sm lg:w-3/4 sm:flex lg:mt-0">
          <ul class="flex flex-col w-full p-0 font-medium text-left text-gray-700 list-none">
              <li class="inline-block px-3 py-2 mt-5 font-bold tracking-wide text-gray-200 uppercase md:mt-0">
                  Features</li>
              <li><a href="#_"
                      class="inline-block px-3 py-2 text-gray-400 no-underline hover:text-gray-600">Link Shortening</a>
              </li>
              <li><a href="#_"
                      class="inline-block px-3 py-2 text-gray-400 no-underline hover:text-gray-600">Branded Links</a>
              </li>
              <li><a href="#_"
                      class="inline-block px-3 py-2 text-gray-400 no-underline hover:text-gray-600">Analytics</a>
              </li>
          </ul>
          <ul class="flex flex-col w-full p-0 font-medium text-left text-gray-700 list-none">
              <li class="inline-block px-3 py-2 mt-5 font-bold tracking-wide text-gray-200 uppercase md:mt-0">
                  Resources</li>
              <li><a href="#_"
                      class="inline-block px-3 py-2 text-gray-400 no-underline hover:text-gray-600">Blog</a>
              </li>
              <li><a href="#_" class="inline-block px-3 py-2 text-gray-400 no-underline hover:text-gray-600">Developers</a>
            </li>
            <li><a href="#_" class="inline-block px-3 py-2 text-gray-400 no-underline hover:text-gray-600">Support</a>
            </li>

          </ul>
          <ul class="flex flex-col w-full p-0 font-medium text-left text-gray-700 list-none">
              <li class="inline-block px-3 py-2 mt-5 font-bold tracking-wide text-gray-200 uppercase md:mt-0">
                  Company
              </li>
              <li><a href="#_"
                      class="inline-block px-3 py-2 text-gray-400 no-underline hover:text-gray-600">About</a></li>
              <li><a href="#_"
                      class="inline-block px-3 py-2 text-gray-400 no-underline hover:text-gray-600">Our Team</a></li>
              <li><a href="#_"
                      class="inline-block px-3 py-2 text-gray-400 no-underline hover:text-gray-600">Career</a></li>
                      <li><a href="#_"
                        class="inline-block px-3 py-2 text-gray-400 no-underline hover:text-gray-600">Contact</a></li>
  
          </ul>
          <div class="flex flex-col w-full text-gray-700">
              <div class="flex justify-start pl-4 mt-2">
                  <a class="flex items-center block mr-6 text-gray-400 no-underline hover:text-gray-600"
                      target="_blank" rel="noopener noreferrer" href="#_">
                      <img src="assets/images/icon-instagram.svg">
                    </a>
                  <a class="flex items-center block mr-6 text-gray-400 no-underline hover:text-gray-600"
                      target="_blank" rel="noopener noreferrer" href="#_">
                      <img src="assets/images/icon-pinterest.svg">
                  </a>
                  <a class="flex items-center block mr-6 text-gray-400 no-underline hover:text-gray-600"
                      target="_blank" rel="noopener noreferrer" href="#_">
                      <img src="assets/images/icon-twitter.svg">
                  </a>
                  <a class="flex items-center block mr-6 text-gray-400 no-underline hover:text-gray-600"
                  target="_blank" rel="noopener noreferrer" href="#_">
                  <img src="assets/images/icon-facebook.svg">
              </a>

              </div>
          </div>
      </div>
  </div>
</footer>
