    <!-- Header Section -->
    <header class="relative z-50 w-full h-24">
      <div
          class="container flex items-center justify-center h-full max-w-6xl px-8 mx-auto sm:justify-between xl:px-0">

          <a href="/" class="relative flex items-center inline-block h-5 h-full font-black leading-none">
            <img src="assets/images/logo.svg">
          </a>

          <nav id="nav"
              class="absolute top-0 left-0 z-50 flex flex-col items-center justify-between hidden w-full h-64 pt-5 mt-24 text-sm text-gray-800 bg-white border-t border-gray-200 md:w-auto md:flex-row md:h-24 lg:text-base md:bg-transparent md:mt-0 md:border-none md:py-0 md:flex md:relative">
              <a href="#"
                  class="ml-0 mr-0 font-bold duration-100 md:ml-12 md:mr-3 lg:mr-8 transition-color hover:text-indigo-600">Home</a>
              <a href="#features"
                  class="mr-0 font-bold duration-100 md:mr-3 lg:mr-8 transition-color hover:text-indigo-600">Features</a>
              <a href="#pricing"
                  class="mr-0 font-bold duration-100 md:mr-3 lg:mr-8 transition-color hover:text-indigo-600">Pricing</a>
              <a href="#testimonials"
                  class="font-bold duration-100 transition-color hover:text-indigo-600">Resources</a>
              <div class="flex flex-col block w-full font-medium border-t border-gray-200 md:hidden">
                  <a href="#_" class="w-full py-2 font-bold text-center text-gray-800">Login</a>
                  <a href="#_"
                      class="relative inline-block w-full px-5 py-3 text-sm leading-none text-center text-black bg-indigo-700 fold-bold">Sign Up</a>
              </div>
          </nav>

          <div
              class="absolute left-0 flex-col items-center justify-center hidden w-full pb-8 mt-48 border-b border-gray-200 md:relative md:w-auto md:bg-transparent md:border-none md:mt-0 md:flex-row md:p-0 md:items-end md:flex md:justify-between">
              <a href="#_"
                  class="relative z-40 px-3 py-2 mr-0 text-sm font-bold text-gray-800 md:px-5 lg:text-black sm:mr-3 md:mt-0">Login</a>
                  <a href="#_"
                  class="relative self-start inline-block w-auto px-8 py-2 mx-auto mt-0 text-sm font-bold text-white bg-teal-400 border-t border-gray-200 rounded-full sm:mt-1 fold-bold lg:mx-0">Sign Up</a>
                        </div>

          <div id="nav-mobile-btn"
              class="absolute top-0 right-0 z-50 block w-6 mt-8 mr-10 cursor-pointer select-none md:hidden sm:mt-10">
              <span class="block w-full h-1 mt-2 duration-200 transform bg-gray-800 rounded-full sm:mt-1"></span>
              <span class="block w-full h-1 mt-1 duration-200 transform bg-gray-800 rounded-full"></span>
          </div>

      </div>
  </header>
  <!-- End Header Section-->
