<!-- BEGIN HERO SECTION -->
<div class="relative items-center justify-center w-full overflow-x-hidden lg:pt-40 lg:pb-40 xl:pt-40 xl:pb-64">
  <div
      class="container flex flex-col items-center justify-between h-full max-w-6xl px-8 mx-auto -mt-32 lg:flex-row xl:px-0">
      <div
          class="z-30 flex flex-col items-center w-full max-w-xl pt-48 text-center lg:items-start lg:w-1/2 lg:pt-20 xl:pt-40 lg:text-left">
          <h1 class="relative mb-4 text-3xl font-black leading-tight text-gray-900 sm:text-6xl xl:mb-8">More than just shorter links</h1>
          <p class="pr-0 mb-8 text-base text-gray-600 sm:text-lg xl:text-xl lg:pr-20">Build your brand's recognition and get detailed insights on how your links are performing.</p>

          <a href="#_"
              class="relative self-start inline-block w-auto px-8 py-4 mx-auto mt-0 text-base font-bold text-white bg-teal-400 border-t border-gray-200 rounded-full sm:mt-1  lg:mx-0">Get Started</a>
          <!-- Integrates with section -->
          <div class="flex-col hidden mt-12 sm:flex lg:mt-24">
              <div class="flex">
                  
              </div>
          </div>
          
      </div>
      <div class="relative z-50 flex flex-col items-end justify-center w-full h-full lg:w-1/2 ms:pl-10">
          <div class="container relative left-0 w-full max-w-4xl lg:absolute xl:max-w-6xl lg:w-screen">
              <img src="assets/images/illustration-working.svg"
                  class="w-full h-auto mt-20 mb-20 ml-0 lg:mt-24 xl:mt-40 lg:mb-0 lg:h-full lg:-ml-12">
          </div>
      </div>
  </div>
</div>

<!-- BEGIN HERO SECTION -->
<div id="features-form" class="container bg-[url('assets/images/bg-boost-desktop.svg')] bg-cover flex flex-col h-full mx-auto rounded-lg">
<div class="w-full bg-violet-900/90 rounded-lg">
<div class="w-full">
  <div class="single_services">
      <div class="subscribe_form text-left relative p-10">
          <form action="#" class="row justify-between">
              <input type="text" placeholder="Enter your link here" class="w-full md:w-3/4 py-5 px-6 bg-white text-black rounded-lg border-none">
              <a href="#_"
              class="relative self-start inline-block w-auto px-8 py-4 text-base font-bold text-white bg-teal-400 border-t border-gray-200 rounded-lg mx-2">Shorten it!</a>
          </form>
      </div>
  </div>
</div>
</div>
</div>
<!-- HERO SECTION END -->

    <!-- BEGIN FEATURES SECTION -->
    <div id="features" class="bg-gray-100 relative w-full px-8 py-10 border-t border-gray-200 md:py-16 lg:py-24 xl:py-40 xl:px-0">
      <div class="container flex flex-col items-center justify-between max-w-6xl mx-auto">
          <h3
              class="max-w-2xl px-5 mt-2 text-3xl font-black leading-tight text-center text-gray-900 sm:mt-0 sm:px-0 sm:text-6xl">
              Advanced Statistic</h3>
              <p class="p-8 mb-8 text-base text-gray-600 sm:text-lg xl:text-xl lg:pr-20">Track how your links are performing across the web with our advanced statistic dashboard.</p>

              <div class="flex flex-col divide-x-2 divide-teal-400 w-full mt-0 lg:flex-row sm:mt-0 lg:mt-0">
              <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/3">
                  <div class="mt-auto bg-white rounded-b rounded-t-none shadow p-6 relative flex flex-col justify-center w-full p-10 mr-5 rounded-lg">
                    <img src="assets/images/icon-brand-recognition.svg" class="absolute bg-gray-900 p-2 rounded-full m-0 -top-8 max-w-xs">
                      <!-- FEATURE Icon 1 -->
                      <h4 class="relative mt-6 text-lg font-bold">Brand Recognition</h4>
                      <p class="relative mt-2 text-base text-left text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Atque qui ratione minus similique cumque aliquid eum. Ea saepe nisi animi facere expedita, 
                        ipsa, minima incidunt cumque ex iste fuga quis.</p>
                  </div>
              </div>

              <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/3 mt-10">
                <div class="mt-auto bg-white rounded-b rounded-t-none shadow p-6 relative flex flex-col justify-center w-full p-10 mr-5 rounded-lg">
                  <img src="assets/images/icon-detailed-records.svg" class="absolute bg-gray-900 p-2 rounded-full m-0 -top-8 max-w-xs">
                    <!-- FEATURE Icon 1 -->
                    <h4 class="relative mt-6 text-lg font-bold">Detailed Records</h4>
                    <p class="relative mt-2 text-base text-left text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                      Atque qui ratione minus similique cumque aliquid eum. Ea saepe nisi animi facere expedita, 
                      ipsa, minima incidunt cumque ex iste fuga quis.</p>
                </div>
            </div>

            <div class="w-full max-w-md p-4 mx-auto mb-0 sm:mb-16 lg:mb-0 lg:w-1/3 mt-20">
              <div class="mt-auto bg-white rounded-b rounded-t-none shadow p-6 relative flex flex-col justify-center w-full p-10 mr-5 rounded-lg">
                <img src="assets/images/icon-fully-customizable.svg" class="absolute bg-gray-900 p-2 rounded-full m-0 -top-8 max-w-xs">
                  <!-- FEATURE Icon 1 -->
                  <h4 class="relative mt-6 text-lg font-bold">Fully Customizable</h4>
                  <p class="relative mt-2 text-base text-left text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Atque qui ratione minus similique cumque aliquid eum. Ea saepe nisi animi facere expedita, 
                    ipsa, minima incidunt cumque ex iste fuga quis.</p>
              </div>
          </div>
          </div>
      </div>
  </div>
  <!-- END FEATURES SECTION -->

  <!-- BEGIN HERO SECTION -->
<div id="newsletter" class="bg-[url('assets/images/bg-boost-desktop.svg')] bg-cover">
  <div class="w-full flex flex-col items-center justify-center bg-violet-900/90 pt-16 pb-16">
    <span class="text-white font-bold text-3xl">
      Boost your link today
    </span>
    <div class="flex flex-row mt-8 w-3/6 items-center justify-center flex-wrap">
      <a href="#_"
      class="relative self-start inline-block w-auto px-8 py-4 mx-auto mt-0 text-base font-bold text-white bg-teal-400 border-t border-gray-200 rounded-full sm:mt-1 fold-bold lg:mx-0">Get Started</a>

    </div>
  </div>
  
</div>
<!-- HERO SECTION END -->

